*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Lucida Console", Courier, monospace;
}
body{
    background-color: #ffe0b5;
}
.main-title{
    text-align: center;
    padding: 10px;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;;
    color: #732D0A;
}
#calculator-frame{
    margin: 0 auto;
    width: 600px;
    height: 630px;
    border: 4px solid black;
    border-radius: 5px;
    background-color: #8f8f8f;
    box-shadow: 3px 3px 5px gray;
}
#display_container{
    width: 95%;
    height: 150px;
    border: 8px solid black;
    border-radius: 10px;
    margin: 15px;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 70px;
    background-color: #bff5ff;
}
#functions-container{
    width: 95%;
    height: 430px;
    margin: 15px;
    display: flex;
    flex-direction: column;
}
.grid{
    flex: 1;
    display: flex;
}
.calc-button{
    flex: 1;
    font-size: 42px;
    font-weight: 700;
    border: none;
    margin: 3px;
    border-radius: 5px;
    border: 2px solid black;
}
.operation{
    background-color: #ff3333;
}
.numbers{
    background-color: #ffffff;
}
.additional{
    background-color: #ffd86d;
}
.zero{
    flex: 2;
    background-color: #ffffff;
    padding-right: 5px;
}
.calc-button:hover{
    background-color: #b3b3b3;
    color: white;
}